<div class="data-tab">
  <div class="data-tab__gauges">
    <app-vfr-hud />
    <app-heading-compass />
  </div>

  <button type="button" class="data-tab__action" (click)="requestProperties()">
    Telemetry properties
  </button>
  @if (tiles().length === 0) {
    <p class="data-tab__empty">No telemetry properties selected.</p>
  } @else {
    <div
      class="data-tab__grid"
      [style.--tile-columns]="columnCount()"
      cdkDropList
      cdkDropListOrientation="mixed"
      (cdkDropListDropped)="onTileDropped($event)"
    >
      @for (tile of tiles(); track tile.key; let i = $index) {
        <article
          class="data-tab__tile"
          [class.data-tab__tile--edge-right]="isLastColumn(i)"
          [class.data-tab__tile--edge-bottom]="isLastRow(i)"
          cdkDrag
          [attr.title]="tile.name"
          [attr.aria-label]="tile.name"
        >
          <span class="data-tab__tile-name">{{ tile.name }}</span>
          <span class="data-tab__tile-value">{{ tile.value }}</span>
        </article>
      }
    </div>
  }
</div>
